<div class="container">
  <div>
    <h2 align="center" style="color: black;">Hello! {{user.userName}} , Welcome to Retail Online Banking </h2>
  </div>
  <div>
    <nav>
      <a class="nav-link" routerLink="transfer">Transfer</a>
      &nbsp;

      <a class="nav-link" routerLink="history"> History</a>
      &nbsp;

      <a class="nav-link" routerLink="myprofile">My Profile</a>

      &nbsp;
      <a class="nav-link" routerLink="search">Search</a>


      <a class="nav-item nav-link" (click)="logout()">Logout</a>



    </nav>
  </div>