<div id="imagebackground" class="container-fluid">
    <div align="center">
        <div style="padding-top: 50px;">
            <nav class="navbar navbar-expand bg-light">
                <div class="navbar-collapse collapse">
                    <a class="nav-link" routerLink="login">Login</a> &nbsp; &nbsp; &nbsp;
                    <a class="nav-link" routerLink="register">Register</a>
                </div>
            </nav>
        </div>
    </div>

</div>