<nav class="navbar navbar-expand bg-light">
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">

            <a class="nav-item nav-link" (click)="navBack()"
                style="padding-top: 10px;background-color: lightgray;border-radius: 1em;">back</a>
        </ul>
    </div>
</nav>
<nav class="navbar">
    <input class="form-control" type="text" name="accountNumber" [(ngModel)]="accountNumber" (ngModelChange)="Search()"
        placeholder="Enter receiver account number to search"> &nbsp;

</nav>
<div>
    {{user|json}}
</div>