<nav class="navbar navbar-expand bg-light">
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">

            <a class="nav-item nav-link" (click)="navBack()"
                style="padding-top: 10px;background-color: lightgray;border-radius: 1em;">back</a>

            <nav class="navbar">

                <a style="cursor: pointer;background-color: rgb(3, 141, 3);border-radius: 0.5em;"
                    (click)="exportexcel()">
                    Mini Statement Download
                </a>
            </nav>
        </ul>
    </div>
</nav>

<div>
    <table class="table table-bordered" id="fileName">
        <thead>
            <tr>
                <th>id</th>
                <th>From AccountNumber</th>
                <th>To AccountNumber</th>
                <th>Transfer Ammount</th>
                <th>transactionDate</th>
                <th>transactiontype</th>
                <th>Balance</th>
                <th>message</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of transactions">
                <td>{{transaction.id}}</td>
                <td>{{transaction.fromAccountNumber}}</td>
                <td>{{transaction.toAccountNumber}}</td>
                <td>{{transaction.transactionAmmount}}</td>
                <td>{{transaction.transactiondate}}</td>
                <td>{{transaction.transactiontype}}</td>
                <td>{{transaction.balance}}</td>
                <td>{{transaction.message}}</td>
            </tr>
        </tbody>