<div class="container">
  <div>
    <h2 align="center" style="color: black;">Hello! {{user.userName}} , Welcome to Retail Online Banking </h2>
  </div>
  <div>
    <nav>
      <a class="nav-link" routerLink="transfer">Transfer</a>
      &nbsp;

      <a class="nav-link" routerLink="history"> History</a>
      &nbsp;

      <a class="nav-link" routerLink="alltransactions">AllTransactions</a>
      &nbsp;

      <a class="nav-link" routerLink="myprofile">My Profile</a>

      &nbsp;
      <a class="nav-link" routerLink="search">Search</a>


      <a class="nav-item nav-link" (click)="logout()">Logout</a>



    </nav>
  </div>
  <br><br><br>
  <h3 style="color: black;">User List</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th> id</th>
        <th>userName</th>
        <th>AccountNumber</th>
        <th>balance</th>
        <th>email</th>
        <th>type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users|async">
        <td>{{user.id}}</td>
        <td>{{user.userName}}</td>
        <td>{{user.accountNumber}}</td>
        <td>{{user.balance}}</td>
        <td>{{user.emailId}}</td>
        <td>{{user.type}}</td>
        <div>
          <span class="btn btn-danger" (click)="editUser(user)" *ngIf='user.type==""||user.type=="user"'>Edit</span>
          <span class="btn btn-danger" (click)="deleteUser(user)" *ngIf='user.type=="user"'>Delete</span>

          <hr />
        </div>
      </tr>
    </tbody>

  </table>

</div>