
<div id="imagebackground" class="container-fluid">
  <nav class="bg-primary navbar-info">
    <h3 style="text-align: center;">Retail Banking Application</h3>
    </nav>
    <router-outlet></router-outlet>
    </div>
    