#imagebackground{
    height: 100%;
    color:white;
    background-image: url("https://tse4.mm.bing.net/th?id=OIP.6k-0IgFqWtmR0tQxbLXnzQHaFW&pid=Api&P=0&w=225&h=164");
    background-size: contain;
    width: 100%;
}
a{
    color: red;
    background-color: white;
    background-attachment: fixed;
}