/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.invalid-feedback{
    color:red;
    
}
.is-invalid{
    border-color:red;

}
a{
    color: red;
    background-color: white;
    background-attachment: fixed;
}